<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Built by a team for COMPSCI 326: Web Programming</p>
  </body>
</html>
