<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>A COMPSCI 326 project exploring the fundamentals of web programming.</p>
  </body>
</html>
